# Prueba de evaluacion 1

### parte 3

In [1]:
import pandas as pd 
import numpy as np 
import ggplot as g 
import datetime 
from ggplot import * 
from numpy import convolve 
import matplotlib.pyplot as plt
import statsmodels.api as sm

Podemos descargar datos de empresas del dataset Forbes2000 (paquete HSAUR) mediante
get_rdataset(). Encontraremos un ranking de empresas categorizadas por sector, y con datos
de su país, ventas, beneficios, recursos y valor de mercado.

In [2]:
dsforbes = sm.datasets.get_rdataset('Forbes2000','HSAUR')
dfforbes = dsforbes.data
dfforbes.head(5)

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

Seleccionar del dataframe los nombres de empresa que incluyen "elect" (sin tener en
cuenta mayúsculas). Intentamos con esto obtener empresas “del sector de la
electricidad” de forma aproximada.

In [10]:
dfelectrics = dfforbes[dfforbes['name'].str.contains('elect', case=False)==True]
dfelectrics.head(20)

,rank,name,country,category,sales,profits,assets,marketvalue
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
44,45,Samsung Electronics,South Korea,Semiconductors,50.22,5.95,54.58,72.72
71,72,Tokyo Electric Power,Japan,Utilities,41.62,1.40,116.68,30.63
151,152,Korea Electric Power,South Korea,Utilities,18.01,2.57,58.38,11.84
156,157,Kansai Electric Power,Japan,Utilities,22.12,0.68,60.52,17.56
170,171,Chubu Electric Power,Japan,Utilities,18.41,0.90,52.08,15.59
219,220,Emerson Electric,United States,Conglomerates,14.33,1.12,15.71,26.88
280,281,Tohoku Electric Power,Japan,Utilities,13.48,0.52,34.49,8.67
284,285,Kyushu Electric Power,Japan,Utilities,12.02,0.54,34.69,8.48
322,323,Schneider Electric,France,Capital goods,11.04,0.54,14.37,15.39
414,415,Matsushita Electric Indl,Japan,Consumer durables,62.62,-0.16,60.46,33.02
424,425,STMicroelectronics,Switzerland,Semiconductors,7.98,0.28,11.98,24.11
433,434,Electrolux Group,Sweden,Consumer durables,15.34,0.59,9.50,6.93
439,440,Chugoku Electric Power,Japan,Utilities,8.54,0.37,23.36,6.41
567,568,American Electric,United States,Utilities,15.58,-0.16,36.08,13.21
585,586,Mitsubishi Electric,Japan,Capital goods,30.79,-0.10,26.24,10.28
621,622,Hughes Electronics,United States,Media,10.12,-0.30,18.95,23.56
634,635,Matsushita Electric Works,Japan,Capital goods,11.26,0.19,9.37,6.54
641,642,Sanyo Electric,Japan,Consumer durables,19.24,-0.62,21.65,9.43
646,647,Electronic Data Sys,United States,Software & services,21.48,-0.27,18.28,9.98

Utilizando como índice el país y la categoría y ordenándolo (sort_index), encontrar el
valor de mercado de las empresas japonesas y estadounidenses.

In [27]:
dfforbes_ix = dfforbes.set_index(['country','category']).sort_index()
dfforbes_ix.head(20)

                                  rank                        name  sales  \
country   category
Africa    Food markets            1864  Metro Cash and Carry South   7.10
          Insurance                950                Sanlam South   6.54
Australia Banking                   86         Natl Australia Bank  15.34
          Banking                  126     Commonwealth Bank Group  10.75
          Banking                  149       Westpac Banking Group   9.45
          Banking                  160                 ANZ Banking   8.79
          Banking                  517              St George Bank   2.94
          Conglomerates            733                  Wesfarmers   5.00
          Construction            1058                Rinker Group   2.82
          Construction            1157                   CSR Group   4.39
          Construction            1549                       Boral   2.58
          Diversified financials   682              Suncorp-Metway   3.44
          Diversified financials   879     Westfield America Trust   1.41
          Diversified financials   913             Westfield Trust   0.78
          Diversified financials   932              Macquarie Bank   1.80
          Diversified financials  1121      General Property Trust   0.46
          Diversified financials  1303                  Lend Lease   6.35
          Diversified financials  1430          Westfield Holdings   0.74
          Diversified financials  1917         Stockland Australia   0.35
          Food drink & tobacco     805              Foster`s Group   3.19

                                  profits  assets  marketvalue
country   category
Africa    Food markets               0.06    1.27         0.66
          Insurance                 -0.07   21.17         3.65
Australia Banking                    2.69  269.94        36.51
          Banking                    1.36  178.29        31.95
          Banking                    1.49  150.08        24.44
          Banking                    1.60  132.44        23.40
          Banking                    0.45   42.66         8.07
          Conglomerates              0.36    4.27         8.33
          Construction               0.32    3.80         5.15
          Construction               1.24    1.53         1.32
          Construction               0.19    2.65         2.70
          Diversified financials     0.26   25.79         5.30
          Diversified financials     0.45   11.00         5.65
          Diversified financials     0.42    9.49         6.13
          Diversified financials     0.20   19.52         5.73
          Diversified financials     0.32    5.79         4.60
          Diversified financials    -0.48    4.79         3.47
          Diversified financials     0.19    2.08         5.79
          Diversified financials     0.04    4.01         5.04
          Food drink & tobacco       0.31    6.29         7.16

In [35]:
dfforbes.head(5)
dfMercadoJapUSA = dfforbes_ix.loc[['Japan','United States'],['name','marketvalue']]
dfMercadoJapUSA.head(20)

                                       name  marketvalue
country category
Japan   Banking   Sumitomo Mitsui Financial        31.87
        Banking       Mitsubishi Tokyo Finl        49.92
        Banking            Mizuho Financial        30.87
        Banking                UFJ Holdings        23.71
        Banking             Resona Holdings        13.41
        Banking    Sumitomo Trust & Banking         8.06
        Banking            Bank of Yokohama         4.91
        Banking                Mitsui Trust         4.05
        Banking               Shizuoka Bank         5.26
        Banking                  Chiba Bank         3.42
        Banking              Hachijuni Bank         2.92
        Banking                   Joyo Bank         2.71
        Banking              Hiroshima Bank         2.32
        Banking             Bank of Fukuoka         2.63
        Banking                  Gunma Bank         2.21
        Banking                Chugoku Bank         2.17
        Banking              Sapporo Hokuyo         1.80
        Banking     Hokugin Financial Group         1.28
        Banking                        Bank         2.06
        Banking                    Iyo Bank         2.10

Sobre el mismo subconjunto de empresas eléctricas, obtener el país donde el sector de
utilities tiene mayor valor de mercado medio en sus empresas.

In [44]:
dfelectrics_ix = dfelectrics.set_index(['country','category']).sort_index()

In [54]:
meanByCountry = dfelectrics[dfelectrics["category"]=="Utilities"].groupby(['country'])['marketvalue'].mean()
maxMeanByCountry = meanByCountry.max()
countryMaxMean = meanByCountry.argmax()

print countryMaxMean

South Korea

Volviendo al dataset original, obtener las empresas españolas.

In [6]:
dfforbes[dfforbes['country']=='Spain']

,rank,name,country,category,sales,profits,assets,marketvalue
38,39,Banco Santander Central,Spain,Banking,28.70,3.28,442.24,56.78
56,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,2.81,288.80,44.67
108,109,Repsol-YPF,Spain,Oil & gas operations,29.14,2.05,39.34,26.22
114,115,Endesa Group,Spain,Utilities,20.43,1.65,57.92,21.10
188,189,Iberdrola,Spain,Utilities,11.94,1.33,30.99,18.78
378,379,Banco Popular Espaqol,Spain,Banking,3.32,0.67,44.01,14.38
408,409,Telefsnica,Spain,Telecommunications services,29.84,-5.86,60.65,86.39
462,463,Gas Natural SDG,Spain,Utilities,5.53,0.85,9.25,11.28
472,473,Altadis,Spain,Food drink & tobacco,9.45,0.46,8.66,9.48
529,530,Unisn Fenosa,Spain,Utilities,6.13,0.36,15.71,6.35
532,533,Cepsa,Spain,Oil & gas operations,8.85,0.48,6.31,9.29
605,606,Grupo Ferrovial,Spain,Construction,5.29,0.48,11.78,5.11
734,735,FCC Group,Spain,Construction,5.77,0.29,7.14,4.99
762,763,Inditex,Spain,Household & personal products,4.28,0.47,3.24,13.52
787,788,Banco de Sabadell,Spain,Banking,1.99,0.30,38.38,4.77
876,877,ACS Group,Spain,Construction,4.64,0.19,5.16,6.24
951,952,Corporation Mapfre,Spain,Insurance,5.87,0.12,15.45,2.73
1035,1036,Acciona,Spain,Construction,3.59,0.17,6.11,4.13
1058,1059,Bankinter,Spain,Banking,1.37,0.17,30.05,3.26
1059,1060,Abertis Infraestructuras,Spain,Transportation,0.80,0.21,6.78,7.43
1074,1075,Iberia,Spain,Transportation,4.71,0.17,4.85,3.34
1426,1427,Amadeus Global Travel,Spain,Business services & supplies,2.43,0.20,1.34,3.60
1435,1436,Sacyr-Vallehermoso,Spain,Diversified financials,0.88,0.22,3.75,4.09
1493,1494,Acerinox,Spain,Materials,2.63,0.18,2.70,3.05
1623,1624,Enagas,Spain,Oil & gas operations,1.97,0.18,3.89,2.83
1892,1893,Banco Pastor,Spain,Banking,0.49,0.08,13.12,1.79
1897,1898,Red Eectrica de Espaqa,Spain,Utilities,1.14,0.15,4.28,2.36
1931,1932,Gamesa,Spain,Capital goods,1.15,0.14,2.04,3.02
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02

Indexar el dataframe anterior por beneficios (profits) y obtener los nombres y rangos de
las que tengan un beneficio nulo o negativo. Nota: intenta indexar de manera mixta con
números (filas) y etiquetas columnas), hay una operación específica para esto en
pandas.

In [42]:
dfSpain = dfforbes[dfforbes.country=='Spain']
dfSpain.reset_index()
dfIndexed = dfSpain.set_index(['profits'])
dfIndexed.sort_index(inplace=True)
dfIndexed.ix[:0,['name','rank']] 
#dfIndexed.head(5)

               name  rank
profits
-5.86    Telefsnica   409
-0.06     Sogecable  1993